/*@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Abel', 'sans-serif';
    background-color: white;
}

section{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.form-body{
    position: relative;
    background-color: rgb(243, 189, 243);
    width: 350px;
    height: 500px;
    justify-content: space-between;
    margin-top: 90px;
    border-radius: 25px;
    box-shadow: 5px 4px 7px black;
}

.form-title{
    text-align: center;
}

.campos{
    justify-content: justify;
    margin-bottom: 50px;
}

/*LABELS*/
.email{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.password{
    display: flex;
    justify-content: center;
    padding: 5px;}
.passwordC{
    display: flex;
    justify-content: center;
    padding: 5px;
}
#submit{
    display: flex;
    float: right;
    font-family: 'Abel', 'sans-serif';
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 70px;
    margin-top: 5px;
    width: 200px;
    height: 30px;
}

/*FEEDBACK*/
.feedback{
    background-color: white;
    width: 250px;
    height: 100px;
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    
    
}